<md-toolbar layout-padding class="md-whiteframe-1dp">
  <h2 class="md-toolbar-tools" layout>
          <md-button class="md-icon-button" ng-click="toggleSidenav()" hide-gt-md>
            <md-icon class="material-icons">menu</md-icon>
          </md-button>
          <strong flex>{{lng.Messages}}</strong>
          <div>
          <md-input-container md-theme="kaLightGrey" style="position:relative;top:10px; color:white;" hide-xs hide-sm>
            <label style="color:rgba(255,255,255,.4)">Keresés a címben</label>
            <input type="text" ng-model="searchText.title" style="color:white">
          </md-input-container>
          <md-input-container md-theme="kaLightGrey" style="position:relative;top:10px; color:white;" hide-xs hide-sm>
            <label style="color:rgba(255,255,255,.4)">Keresés a szövegben</label>
            <input type="text" ng-model="searchText.text" style="color:white">
          </md-input-container>
          </div>
        </h2>
</md-toolbar>

<md-list flex class="whiteBack" style="margin-top:-10px;">
  <md-list-item layout="row" style="background-color:#373737;color:white;" class="md-title">
    <span flex ng-click="sortType='title';sortReverse=!sortReverse">{{lng.Subject}}</span>
    <span flex="50" flex-xs="100" flex-sm="100" style="white-space:pre-wrap;">{{lng.Message}}</span>
    <span flex="20" style="overflow:hidden;text-overflow:ellipsis">{{lng.Sender}}</span>
    <span hide-xs hide-sm flex="10" ng-click="sortType='duedate';sortReverse=!sortReverse" flex-xs="30" flex-sm="20">{{lng.Senton}}</span>
    <span flex>{{lng.Operations}}</span>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item layout="row" ng-repeat="message in messages | filter:searchText | orderBy:sortType:sortReverse track by $index" style="font-size:0.8em;border-bottom:1px solid rgb(230,231,232)">
    <span flex ng-click="sortType='title';sortReverse=!sortReverse" style="padding-left:5px">{{message.title}}</span>
    <span flex="50" style="white-space:pre-wrap;padding-left: 10px;">{{message.text}}</span>
    <span flex="20" style="overflow:hidden;text-overflow:ellipsis">{{ (users | filter:{'username':message.sender})[0].name }}</span>
    <span hide-xs hide-sm flex="10" ng-click="sortType='duedate';sortReverse=!sortReverse" flex-xs="30" flex-sm="20">{{message.senton | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    <span flex>
    <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-class="material-icons">more_vertical</md-icon>
          </md-button>
          <md-menu-content width="4">
            <!--<md-menu-item ng-repeat="item in [1, 2, 3]">
              <md-button ng-click="ctrl.announceClick($index)">
                <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                Option {{item}}
              </md-button>
            </md-menu-item>-->
            <md-menu-item ng-click="_messages.replyMessage($event, message)">
              <md-button>
                <div layout="row">
                  <p flex>{{lng.Reply}}</p>
                  <md-icon md-menu-align-target class="material-icons">reply</md-icon>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-click="_messages.deleteMessage(message.id)">
              <md-button>
                <div layout="row">
                  <p flex>{{lng.Delete}}</p>
                  <md-icon md-menu-align-target class="material-icons">delete</md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

    </span>
  </md-list-item>
</md-list>
